<!--광고판-->
<div class="container-fluid" id="introduction">  
    <div class="row" style="padding-top:20px;margin-left: -;margin-left: 0px;margin-right: 0px;">  
        <div id="advertise" class="col-sm-8" style="padding-left:0px; padding-right:0px; height:100%">    
            <section class="no-padding" >
                <div id="carousel" class="carousel slide no-padding" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1" class=""></li>
                        <li data-target="#carousel" data-slide-to="2" class=""></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" >
                        <div class="item active">
                            <img class="carousel-img" src="assets/bg.png" >    
                            <div class="carousel-caption" style="text-align:center;">
                                <h2 class="section-heading font-green" style="font-family:impact;">공모전, 인턴, 대외활동, 취준정보</h2>
                                <br>
                                <div class="green" style="border: 3px solid rgb(255,204,41); width:30vw; border-radius:10px; font-size:20px;">
                                    <spans class="font-white">관심 <span class="font-yellow" style="font-weight:700" >해시태그</span> 설정하고</spans> 
                                </div>
                                <br>
                                    <a class="btn same-row yellow page-scroll" href="#whole-contents" style=" height:32px; padding-top:2px; padding-bottom:2px">
                                        <span style="color:black; font-size:18px; font-weight:700;">모아보고 + 알림받기 </span></a>
                                <br><br>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/bg.png" class="carousel-size">
                            <div class="carousel-caption">
                                <h2 class="section-heading">화이팅 제몽소!</h2>
                                <hr class="light">
                                <h4>- 힘내서 만듭시다 으쌰으쌰</h4>
                                <h4>- 화이팅 개발자들    </h4>
                                <h4>- 화이팅 마케팅팀 </h4> 
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/bg.png" class="carousel-size">
                            <div class="carousel-caption">
                                <h2 class="section-heading">화이팅 캠컴</h2>
                                <hr class="light">
                                <h4>- 오픈 베타까지 6일!</h4>
                                <h4>- 김민규 최인영 김권영 노대원 화이팅 </h4>
                                <h4>- 으쌰으쌰 </h4>
                            </div>
                        </div>
                     </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left font-green" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right font-green" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </section>
        </div>
        
        <!--로그인 후 개인정보 화면 -->
        <% if user_signed_in? %>
        <div class="col-sm-4" style="padding-left:0px; padding-right:0px; height:300px; background-color:transparent; text-align:center">
			<div style="width:90%; margin-left:10%">
				<div style="width: 100%; height:120px; background-color:rgb(255,255,255); border-radius:2px; border: solid 1px rgb(226,228,232); ">
    				
    				<div class="row"  style="height:60px; padding-top:15px; margin:0px; border-bottom: solid 1px rgb(226,228,232);  " >    
                        <div class="col-xs-4" style="padding-right:0px" >
                            <p style="font-weight:600">MY <br> 해시태그</p>
                        </div>
    				    <div class="col-xs-4 " style="margin-bottom:5px">
                            <img src="assets/mango.png" style="width: 32px; padding-bottom: 4px "> <%= @usermango.count  %> 개   
    				    </div>
    				    <div class="col-xs-4" style="padding-left:0px">
                            <img src="assets/melon.png" style="width: 38px; padding-top:1px; padding-right:4px; padding-bottom: 4px "> <%= @usermelon.count  %> 개    
    				    </div>
    				</div>
    				
    				
    				<div style="padding-top:10px; padding-bottom:10px;">
    				    <button class="btn btn-default yellow" style="margin-left:auto; margin-right:auto"><strong>친구 초대하고 망고 받기 </strong></button>
    				</div>
				</div>
				<div style="height: 170px; margin-top:10px; background-color:rgb(255,255,255); border-radius:2px; border: solid 1px rgb(226,228,232); ">
    				<div style="height:37px; border-bottom: solid 1px rgb(226,228,232);">    
    				    <p style="font-weight:27px; font-weight:700; padding-top:12px">실시간 인기 #해시태그</p>
    				</div>
    				   
				    <div class="login-hash-ranking list-inline" style="">
				            
                            <% topfive.each do |hash| %>
                                
                                <% picktype = Userhashrel.where("user_id=? and campushash_id=?", current_user.id, hash.campushash_id).take %>
                                <% if picktype.nil? %>
                                    <% picktype = 2 %>
                                <% else %>
                                    <% picktype = picktype.pick_type%>
                                <% end %>
                                <% if picktype == 0 %>
                                <a class="hash-button-small-mango" name="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)" id="selected"> <%= Campushash.find(hash.campushash_id).hash_content%>  </a>
                                <% elsif picktype ==1 %>
                                <a class="hash-button-small-melon" name="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)" id="selected"> <%= Campushash.find(hash.campushash_id).hash_content%>  </a>
                                <% else %>
                                <a class="hash-button-small" name="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)" id="selected"> <%= Campushash.find(hash.campushash_id).hash_content%>  </a>
                                <% end %>
                               
                            <% end %>
                        </ul>
				    </div>
				    
				</div>    			
			</div>
        </div>
        
        <!--로그인 후 개인정보 끝 -->
        
        <% else %> 
        
        <!----로그인 전 >-->
        <div class="col-sm-4"  id="login-dp"  >
            <div class="row" style=>
    			<div class="col-xs-12" style="padding-left:40px; padding-right:40px">
    				<div class="social-buttons">
    					<a href="/users/auth/facebook" class="btn btn-fb" style="width: 100%;"><i class="fa fa-facebook"></i> 페이스북으로 로그인하기</a>
    				</div>
                    
    				 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
    					<div class="form-group">
    						 <label class="sr-only" for="exampleInputEmail2">Email address</label>
    						 <input type="email" class="form-control" style="width: 100%;" id="exampleInputEmail2" placeholder="Email 주소" required>
    					</div>
    					<div class="form-group">
    						 <label class="sr-only" for="exampleInputPassword2">Password</label>
    						 <input type="password" class="form-control"  style="width: 100%;" id="exampleInputPassword2" placeholder="비밀번호" required>
                             <div class="help-block text-right"><a href="">비밀번호를 잊으셨나요?</a></div>
    					</div>
    					<div class="form-group">
    						 <button type="submit" class="btn btn-primary btn-block" >Email 로그인 하기</button>
    					</div>
    					<div class="checkbox">
    						 <label>
    						 <input type="checkbox"> 로그인 유지하기
    						 </label>
    					</div>
    				 </form>
    			</div>
    			<div class="bottom text-center">
    				아직 가입하지 않으셨나요? <a href="#"><b>가입하기</b></a>
    			</div>
        	 </div>
        </div>
        
        <% end %>
        
        <!--로그인 시 끝-->
        
        
    </div>
</div>