<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
    <!--망고 팩컨테이너-->
    
        <div class="col-xs-12 col-sm-4" style="margin-top:4px"> 
        <!--컨텐츠 박스 1 -->
        <a data-toggle="modal" data-target="#post<%=post.id%>" style="text-decoration:none!important;">
            <div class="pack-contents"> 
                <div class="pack-top-area">
                    <img id = "pack-img" src= "<%= post.post_image %>" >
                    <h4><%= post.post_company %> </h4>
                    <p><%= post.post_subject %></p> 
                    <ul class="list-inline pack-icon">
                        <li><i class="fa fa-twitter"></i><%= post.post_category %></li>
                        <% dday = post.post_deadline-DateTime.now.to_date %>
                        <% if dday > 0 %>
                        <li><i class="fa fa-calendar"> D-<%= dday.to_i %></i>
                        <% else %>
                        <li><i class="fa fa-calendar"> <%= dday.to_i.abs %>일 지남</i>
                        <% end %>
                        </li>
                        <li><i class="fa fa-heart">관심 <%= post.postuserrels.where("tag=?",2).size%> 명</i>
                        </li>
                    </ul>
                </div>
               
                <div class="pack-middle-area"> <!--호출된 컨텐츠-->
                    <div class="ellipsis middle-content" >
                        <p> <%= h(post.post_content).gsub( /\n/, '<br />').html_safe %> </p>
                    </div>
                    </a>
                </div>    
                <div class="pack-middle-hash "> <!--호출된 해시태그 --> 
                    <ul class="list-inline">
                        <% if !post.posthashrels.nil? %> 
                        <% i = 1 %>    
                            <% post.posthashrels.each do |hash| %>
                            <% if i%4 == 0 %>
                                <p></p>
                            <% end %>
                           
                            <% if Userhashrel.where("user_id = ? and campushash_id = ?",current_user,hash.campushash_id).take.nil? %>
                                <li><a class="hash-button-small" name="<%=hash.campushash_id%>hash" id="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)"> #<%= Campushash.find(hash.campushash_id).hash_content %></a></li>
                            <% elsif Userhashrel.where("user_id = ? and campushash_id = ?",current_user,hash.campushash_id).take.pick_type == 0 %>
                                <li><a class="hash-button-small-mango" name="<%=hash.campushash_id%>hash" id="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)"> #<%= Campushash.find(hash.campushash_id).hash_content %></a></li>
                            <% else %>
                                <li><a class="hash-button-small-melon" name="<%=hash.campushash_id%>hash" id="<%=hash.campushash_id%>hash" onclick="pickhash(<%=hash.campushash_id%>)"> #<%= Campushash.find(hash.campushash_id).hash_content %></a></li>
                            <% end %>
                           
                            <% i = i +1 %>                            
                            <% end %>
                        <% end %>
                    </ul>
                </div>
                
                
                
                <div class="pack-bottom-area ">
                    <a onclick="pickpost(<%=post.id%>, 2)" style="margin-left:10px; margin-right:10px">
                        <% if post.postuserrels.where("user_id=?",current_user).take.nil? %>
                        <i class="fa fa-thumb-tack font-bright-black" name="<%=post.id%>post" style="padding-top:7px; font-weight:500" > 달력에 콕콕  </i>
                        <% else %>
                            <% if post.postuserrels.where("user_id=?",current_user).take.tag ==  2%>
                            <i class="fa fa-thumb-tack font-bright-black" name="<%=post.id%>post" style="padding-top:7px; font-weight:500" > 달력에 표시되었어요</i>
                            <% else%>
                            <i class="fa fa-thumb-tack font-bright-black" name="<%=post.id%>post" style="padding-top:7px; font-weight:500" > 달력에 콕콕  </i>
                            <% end %>
                        <% end %>
                    </a>
                    <a href="#" style="margin-left:10px; margin-right:10px">
                        <i class="fa fa-trash-o font-bright-black" style="padding-top:7px; font-weight:500" > 그만보기  </i> 
                    </a>
                </div>
            </div>
            
        </div>
        
        
        
        

    