<link rel='stylesheet' href='/assets/jquery)ui.theme.css' />
 
<script type='text/javascript'>

$(document).ready(function() {

    // page is now ready, initialize the calendar...
    
  $('#calendar').fullCalendar({
    eventClick: function() {
         
    },
    Boolean, default: false,
    events: [
        <% @picked_post.each do |postrel| %>
        <% event = Post.find(postrel.post_id) %>
        {
            title  : '<%=event.post_company%>   <%=event.post_subject%>',
            start  : '<%=event.post_deadline%>'
        },
        <% end %>
    ]
});

});

</script>
 <%= render :partial => "/brown/top_nav" %>
 
<div id="whole-body" style="padding-top:15px;">
    <div id= "whole-body-contents">
        <div id=calendar></div>
         
     <div id = "pack-container" class="row">
        <% @picked_post.each do |postrel| %>
            <% post = Post.find(postrel.post_id) %>
          <%= render partial: '/brown/inner_content', locals: {post: post} %>
        <% end %>  
    
    </div>    
    
    
        
    </div>
</div>

 <%= render :partial => "/brown/footer" %>